:root {
    --blanco: #FFFFFF;
    --morado: #800080;
    --negro: #000;
    --fuenteprincipal: font-family: 'Orbitron', sans-serif;
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}




#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    font-family: var(--fuenteprincipal);
    width: fit-content;
    margin: 50px auto;
    border: 1px solid var(--negro);
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -2px -2px 47px 33px rgba(115, 38, 115, 1);
    -moz-box-shadow: -2px -2px 47px 33px rgba(115, 38, 115, 1);
    box-shadow: -2px -2px 47px 33px rgba(115, 38, 115, 1);
}

.tecla {
    width: 80px;
    height: 80px;
    margin: 3px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
    border: 1px dashed;

}

.tecla:hover {
    background-color: var(--negro);
    color: var(--morado);
}

#operacionRealizada {
    background-color: var(--blanco);
    padding: 3px;
    text-align: right;
    font-size: 20px;
    letter-spacing: 5px;

}

#operacionRealizada:hover {
    background-color: var(--blanco);
    color: var(--morado);
}


#txtResultado {
    height: 80px;
    padding: 4px;
    border: 1px solid var(--blanco);
    margin: 10px 0;
    font-size: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
    background-color: var(--blanco);
    border-radius: 1px solid;
}

#txtResultado:hover {
    background-color: var(--negro);
    color: var(--morado);
}



footer {
    color: var(--blanco);
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-family: var(--fuenteprincipal);
}



@media only screen and (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        margin: auto;
    }

}

p {
    text-overflow: ellipsis;
    text-align: center;
}